

  #AI{
    margin:auto;
    background:#c4c9be;
    width: 35%;
    text-align: center;
    border-radius: 16px;
    color: whitesmoke;
    background-color: #818977;
   
  }


 

  body{
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;

}



