

  #AI{
  //  margin-left: 5%;
    margin:auto;
    background:#c4c9be;
   // height: 60%;
    width: 35%;
    text-align: center;
    border-radius: 16px;
   // margin-top: 1%;
    color: whitesmoke;
    background-color: #818977;
   
  }


 

  body{
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;

}



